@model IEnumerable<Zeleznicka_stanica.Models.RedVoznjeView>

<h2>Polasci za dan @ViewBag.Datum.ToString("dd/MM/yyyy")</h2>
<table class="table">
    <tr>

        <th>
            Broj voza
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peron)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kasni)
        </th>
        <th>
            Polazak
        </th>
        <th>
            Odrediste
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otkazan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.RedVoznje)
    {
        if (item.Datum == ViewBag.Datum)
        {




            @*@foreach (var item in ViewBag.RedVoznje)
                {*@
            <tr>

                <td>
                    @item.VozID
                </td>
                <td>
                    @item.Datum.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Vreme
                </td>
                <td>
                    @item.Peron
                </td>
                @if (item.Kasni == true)
                {
                    <td>
                        DA
                    </td>
                }
                else
                {
                    <td>
                        NE
                    </td>
                }
                @foreach (var stanica in ViewBag.stanice)
                {
                    if (item.PolazakID == stanica.StanicaID)
                    {
                        <td>@stanica.Grad</td>
                    }


                }
                @foreach (var stanica in ViewBag.stanice)
                {
                    if (item.OdredisteID == stanica.StanicaID)
                    {
                        <td>@stanica.Grad</td>
                    }


                }
                <td>
                    @item.Cena
                </td>
                @if (item.Otkazan == true)
                {
                    <td>
                        DA
                    </td>
                }
                else
                {
                    <td>
                        NE
                    </td>
                }
            <td>
                @if (item.Otkazan == false)
                {
                    @Html.ActionLink("Rezervisi", "NapraviRezervaciju", new { RedVoznjeID = item.RedVoznjeID, VozID = item.VozID },
               new { @class = "btn btn-primary" })
                }

                @Html.ActionLink("Detalji", "RedVoznjeDetalji", new { RedVoznjeID = item.RedVoznjeID, VozID = item.VozID },
               new { @class = "btn btn-info" })

            </td>
            </tr>
            @*}*@


        }
    }
</table>




<h2>Polasci za ostale dane u mesecu</h2>
<table class="table">
    <tr>

        <th>
            Broj voza
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peron)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kasni)
        </th>
        <th>
            Polazak
        </th>
        <th>
            Odrediste
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otkazan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.RedVoznje)
    {
        if (item.Datum != ViewBag.Datum && item.Datum > ViewBag.Datum)
        {


            <tr>

                <td>
                    @item.VozID
                </td>
                <td>
                    @item.Datum.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Vreme
                </td>
                <td>
                    @item.Peron
                </td>
                @if (item.Kasni == true)
                {
                    <td>
                        DA
                    </td>
                }
                else
                {
                    <td>
                        NE
                    </td>
                }

                @foreach (var stanica in ViewBag.stanice)
                {
                    if (item.PolazakID == stanica.StanicaID)
                    {
                        <td>@stanica.Grad</td>
                    }


                }
                @foreach (var stanica in ViewBag.stanice)
                {
                    if (item.OdredisteID == stanica.StanicaID)
                    {
                        <td>@stanica.Grad</td>
                    }


                }

                <td>
                    @item.Cena
                </td>
                @if (item.Otkazan == true)
                {
                    <td>
                        DA
                    </td>
                }
                else
                {
                    <td>
                        NE
                    </td>
                }

            <td>
                @if (item.Otkazan == false)
                {
                    @Html.ActionLink("Rezervisi", "NapraviRezervaciju", new { RedVoznjeID = item.RedVoznjeID, VozID = item.VozID },
               new { @class = "btn btn-primary" })
                }

                @Html.ActionLink("Detalji", "RedVoznjeDetalji", new { RedVoznjeID = item.RedVoznjeID, VozID = item.VozID },
               new { @class = "btn btn-info" })

            </td>
            </tr>
        }
    }

</table>


